.tip {
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #eef2f9;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dark-mode .tip {
  border: 4px solid #333333;
  background-color: black;
}

.tip:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tip .symptom {
  font-weight: bold;
  color: #333333;
}

.dark-mode .tip .symptom {
  color: white;
}

.tip .description {
  margin-top: 4px;
  color: #333333;
}

.dark-mode .tip .description {
  color: white;
}

.tip .admin {
  margin-top: 8px;
  font-style: italic;
  color: #888888;
}

.dark-mode .tip .admin {
  color: #bbbbbb;
}

.tip .edit-link {
  display: inline-block;
  margin-top: 8px;
  margin-right: 8px;
  color: black;
  text-decoration: overline;
}

.dark-mode .tip .edit-link {
  color: white;
}

.tip .delete-button {
  display: inline-block;
  margin-top: 8px;
  color: red;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: overline;
}

.tip-header {
  color: black;
}

.dark-mode .tip-header {
  color: white;
}

.edit-description {
  color: black;
}

.dark-mode .edit-description {
  color: white;
}

.TipForm {
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #eef2f9;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dark-mode .TipForm {
  border: 4px solid #333333;
  background-color: black;
}

.TipForm:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.TipForm .symptom {
  font-weight: bold;
  color: #333333;
}

.dark-mode .TipForm .symptom {
  color: white;
}

.TipForm .edit-description {
  margin-top: 4px;
  color: #333333;
  margin-bottom: 0;
}

.dark-mode .TipForm .edit-description {
  color: white;
}

.TipForm .admin {
  margin-top: 8px;
  font-style: italic;
  color: #888888;
}

.dark-mode .TipForm .admin {
  color: #bbbbbb;
}

.TipForm .edit-link {
  display: inline-block;
  margin-top: 8px;
  margin-right: 8px;
  color: black;
  text-decoration: overline;
}

.dark-mode .TipForm .edit-link {
  color: white;
}

.TipForm .delete-button {
  display: inline-block;
  margin-top: 8px;
  color: red;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: overline;
}

.TipForm__title {
  color: black;
}

.dark-mode .TipForm__title {
  color: white;
}

.TipForm__container {
  border-radius: 8px;
  padding: 16px;
  margin-top: -20px;
  margin-bottom: 2px;
  background-color: #eef2f9;
  transition: background-color 0.3s ease;
}

.dark-mode .TipForm__container {
  background-color: black;
}

.dark-mode .TipForm__container label {
  color: white;
}

.TipForm__container textarea,
.TipForm__container select {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  background-color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.dark-mode .TipForm__container textarea,
.dark-mode .TipForm__container select {
  background-color: white;
  color: black;
}

.TipForm__container textarea {
  height: 10rem;
  resize: vertical;
}

.dark-mode .edit-Symptom {
  color: white;
}
